---
layout: default
---
<link href="/css/override.css" rel="stylesheet" type="text/css">
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {% assign author = page.author | default: site.author %}
      {%- if author -%}
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card"
          itemprop="name">{{ author }}</span></span>
      {%- endif -%}
    </p>
  </header>

  <div class="share-links">
    {% include sharelinks.html %}
  </div>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
    <hr>
    <h3>Comments/Suggestions?</h3>
    <p><i><b>
    NOTE: You'll need to have a github account and give
    <a href="https://github.com/apps/giscus">giscus</a> comment access. This is necessary
    to allow it to post a comment on your behalf. If you don't feel comfortable
    giving giscus access, please find the corresponding topic and manually
    comment <a href="https://github.com/jrmlhermitte/jrmlhermitte.github.io/discussions/categories/page-comments">here</a>.
    </i></b>
    </p>
    <p>
      <script src="https://giscus.app/client.js"
        data-repo="jrmlhermitte/jrmlhermitte.github.io"
        data-repo-id="R_kgDOPGX4-w"
        data-category="Page Comments"
        data-category-id="DIC_kwDOPGX4-84Cs8GF"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="gruvbox_dark"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
      </script>
    </p>
    <p>
    <!-- LikeBtn.com BEGIN -->
    <!-- The data identifier will be a base 64 encoded string of the title and date. This is more portable.-->
    <span 
      class="likebtn-wrapper" 
      data-ef_voting="grow"
      data-rich_snippet="true"
      data-identifier="{{ page.title | append: ', ' | append: page.date }}"
      data-item_title="{{ page.title }}"
      data-item_date="{{ page.date }}"
    ></span>
    <script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
    <!-- LikeBtn.com END -->
    </p>
    {% include navlinks.html %}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>